<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Ronald Bellido</title>

        <link href="{{ SITEURL }}/theme/rmb-theme/static/css/rmb.css" rel="stylesheet" />
        {% endblock head %}
    </head>
    <body>
        <nav>
            <div class="main-nav">
                <ul>
                    {% for title, link in MENUITEMS %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <script src="{{ SITEURL }}/theme/rmb-theme/static/js/jquery-1.10.2.js"></script>
        <script src="{{ SITEURL }}/theme/rmb-theme//static/js/rmb.js"></script>
    </body>
</html>
